body {
  background-color: #252425;
  font-family: Roboto, sans-serif;
}

select.size-button {
  display: none;
}

option.large {
  display: none;
}

.hidden {
  display: none !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.icon-wrapper {
  display: none;
}

.container {
  max-width: 608px;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.t-align-center {
  text-align: center;
}

.flex-column {
  flex-direction: column;
}

.inline {
  display: inline-flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.row {
  display: flex;
}

.col-full,
.col-half {
  width: 100%;
}

.col-25 {
  width: 100%;
}

.list-img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 530px) {
  select.size-button {
    display: inline;
  }

  .col-25 {
    width: 50%;
  }

  .container {
    max-width: 608px;
  }
}

@media screen and (min-width: 608px) {
  .container {
    max-width: 900px;
  }

  footer {
    display: none;
  }

  .icon-wrapper {
    display: inline;
    margin-right: 15px;
    margin-left: 15px;
  }

  .selected-img {
    min-width: 512px;
    min-height: 512px;
    max-width: 512px;
    max-height: 512px;
  }
}

@media screen and (min-width: 901px) {
  .container {
    max-width: 1200px;
  }

  .col-25 {
    width: calc((100%) / 3);
  }

  .selected-img {
    max-width: 750px;
    max-height: 750px;
  }
}

@media screen and (min-width: 1201px) {
  .container {
    max-width: 1920px;
  }

  .col-25 {
    width: 25%;
  }

  option.large {
    display: contents;
  }
}
