body {
  background-color: #252425;
  font-family: Roboto, sans-serif;
}

select.size-button {
  display: none;
}

option.large {
  display: none;
}

.hidden {
  display: none !important;
}

.absolute {
  position: absolute;
}

.icon-wrapper {
  display: none;
}

.container {
  max-width: 608px;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.t-align-center {
  text-align: center;
}

.flex-column {
  flex-direction: column;
}

.inline {
  display: inline-flex;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.row {
  display: flex;
}

.col-full,
.col-half {
  width: 100%;
}

.col-25 {
  width: 25%;
}

@media screen and (min-width: 530px) {
  select.size-button {
    display: inline;
  }
}

@media screen and (min-width: 608px) {
  .container {
    max-width: 900px;
  }

  footer {
    display: none;
  }

  .icon-wrapper {
    display: inline;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 901px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1201px) {
  .container {
    max-width: 1920px;
  }

  option.large {
    display: contents;
  }
}
